In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
covid=pd.read_csv('covid_toy.csv')

In [3]:
covid.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
covid.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(covid.iloc[:,0:5],     #1st parameter is x so dropeed one column
                                                    covid.iloc[:,-1],#2nd column is the result column  
                                                    test_size=0.2,
                                                    random_state=0) 
X_train.shape, X_test.shape,y_train.shape,y_test.shape

((80, 5), (20, 5), (80,), (20,))

# column Transformer

In [6]:
from sklearn.compose import ColumnTransformer

In [7]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [8]:
transformer= ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [9]:
transformer.fit_transform(X_train).shape

C:\Users\mrchi\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [10]:
transformer.transform(X_test).shape

(20, 7)

# WHAT is transform and what is fit transform??? Diference between them ?