In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

In [22]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [23]:
df1=df.copy()

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [25]:
# we can see ther are no null objects

In [26]:
df1.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [27]:
#check the different types of unique values available for each column

In [28]:
for i in df1.columns:
    print(i)
    print(df1[i].unique())
    print("**************************************************")

customerID
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
**************************************************
gender
['Female' 'Male']
**************************************************
SeniorCitizen
[0 1]
**************************************************
Partner
['Yes' 'No']
**************************************************
Dependents
['No' 'Yes']
**************************************************
tenure
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
**************************************************
PhoneService
['No' 'Yes']
**************************************************
MultipleLines
['No phone service' 'No' 'Yes']
**************************************************
InternetService
['DSL' 'Fiber optic' 'No']
**************************************************
OnlineSecurity
['No' 'Yes' 'No internet service']
**************************************************
OnlineBackup
['Yes' 'No' 'No internet service']
**************************************************
DeviceProtection
['No' 'Yes' 'No internet service']
**************************************************
TechSupport
['No' 'Yes' 'No internet service']
**************************************************
StreamingTV
['No' 'Yes' 'No internet service']
**************************************************
StreamingMovies
['No' 'Yes' 'No internet service']
**************************************************
Contract
['Month-to-month' 'One year' 'Two year']
**************************************************
PaperlessBilling
['Yes' 'No']
**************************************************
PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
**************************************************
MonthlyCharges
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
**************************************************
TotalCharges
['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
**************************************************
Churn
['No' 'Yes']
**************************************************

## First lets only convert yes no to "1 and 0"

## adding a new column according to the logic IMPORTANT

In [36]:
 df1['Churn_logic']= np.where(
                df1['Churn']=='Yes',1,0        
 )

In [37]:
df1

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Churn_logic
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No,0
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,0
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,0
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,1
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0

In [38]:
# other way is to have label encoding

In [43]:
#doing label encoding on outpot column

In [46]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df1['Churn'])
df1['Churn_LE']=le.transform(df1['Churn'])

LabelEncoder()

In [50]:
df1.drop(columns='Churn_logic')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Churn_LE
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No,0
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,0
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,0
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,1
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0

### lets drop few columns

In [59]:
df1

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Churn_logic,Churn_LE
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,No,0,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,1
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No,0,0
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No,0,0
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,0
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes,1,1
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,0

In [64]:
df2=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv',usecols=['customerID','gender','Dependents','MultipleLines','OnlineSecurity','Churn'])

In [65]:
df2

      customerID  gender Dependents     MultipleLines OnlineSecurity Churn
0     7590-VHVEG  Female         No  No phone service             No    No
1     5575-GNVDE    Male         No                No            Yes    No
2     3668-QPYBK    Male         No                No            Yes   Yes
3     7795-CFOCW    Male         No  No phone service            Yes    No
4     9237-HQITU  Female         No                No             No   Yes
...          ...     ...        ...               ...            ...   ...
7038  6840-RESVB    Male        Yes               Yes            Yes    No
7039  2234-XADUH  Female        Yes               Yes             No    No
7040  4801-JZAZL  Female        Yes  No phone service            Yes    No
7041  8361-LTMKD    Male         No               Yes             No   Yes
7042  3186-AJIEK    Male         No                No            Yes    No

[7043 rows x 6 columns]

In [66]:
for i in df2.columns:
    print(i)
    print(df2[i].unique())
    print("**************************************************")

customerID
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
**************************************************
gender
['Female' 'Male']
**************************************************
Dependents
['No' 'Yes']
**************************************************
MultipleLines
['No phone service' 'No' 'Yes']
**************************************************
OnlineSecurity
['No' 'Yes' 'No internet service']
**************************************************
Churn
['No' 'Yes']
**************************************************

### Lets apply 1. OHE to Gender and dependants, 2. Ordinal encoder to onlline security and multiple lines 3. lebel encoding on  churn

In [ ]:
# next is apply ordinal encoder for categorical data and OHE as well depending on the values

In [99]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

transformer= ColumnTransformer(transformers=[
#     ('tnf1',LabelEncoder(),['Churn']),                                      #not sure why label encoding is not working lets do it separately
    ('tnf1',OneHotEncoder(sparse=False),['gender','Dependents']),
    ('tnf2',OrdinalEncoder(categories=[     ['No phone service','No','Yes'],
                                            ['No internet service','No','Yes']                                     
                                      ]),
                                         ['MultipleLines',
                                          'OnlineSecurity'
                                         ])
    
   
],remainder='passthrough'
)

transformer.fit_transform(df2)
df2_transformed=transformer.transform(df2)

C:\Users\mrchi\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [101]:
df2_transformed

array([[1.0, 0.0, 1.0, ..., 1.0, '7590-VHVEG', 'No'],
       [0.0, 1.0, 1.0, ..., 2.0, '5575-GNVDE', 'No'],
       [0.0, 1.0, 1.0, ..., 2.0, '3668-QPYBK', 'Yes'],
       ...,
       [1.0, 0.0, 0.0, ..., 2.0, '4801-JZAZL', 'No'],
       [0.0, 1.0, 1.0, ..., 1.0, '8361-LTMKD', 'Yes'],
       [0.0, 1.0, 1.0, ..., 2.0, '3186-AJIEK', 'No']], dtype=object)

In [103]:
df2_tf_df=pd.DataFrame(df2_transformed,columns=['gender_F','gender_M','Dependents_N','Dependents_Y','MultipleLines','OnlineSecurity','customerID','Churn'])

In [104]:
df2_tf_df

,gender_F,gender_M,Dependents_N,Dependents_Y,MultipleLines,OnlineSecurity,customerID,Churn
0,1.0,0.0,1.0,0.0,0.0,1.0,7590-VHVEG,No
1,0.0,1.0,1.0,0.0,1.0,2.0,5575-GNVDE,No
2,0.0,1.0,1.0,0.0,1.0,2.0,3668-QPYBK,Yes
3,0.0,1.0,1.0,0.0,0.0,2.0,7795-CFOCW,No
4,1.0,0.0,1.0,0.0,1.0,1.0,9237-HQITU,Yes
...,...,...,...,...,...,...,...,...
7038,0.0,1.0,0.0,1.0,2.0,2.0,6840-RESVB,No
7039,1.0,0.0,0.0,1.0,2.0,1.0,2234-XADUH,No
7040,1.0,0.0,0.0,1.0,0.0,2.0,4801-JZAZL,No
7041,0.0,1.0,1.0,0.0,2.0,1.0,8361-LTMKD,Yes
7042,0.0,1.0,1.0,0.0,1.0,2.0,3186-AJIEK,No

In [105]:
df2

      customerID  gender Dependents     MultipleLines OnlineSecurity Churn
0     7590-VHVEG  Female         No  No phone service             No    No
1     5575-GNVDE    Male         No                No            Yes    No
2     3668-QPYBK    Male         No                No            Yes   Yes
3     7795-CFOCW    Male         No  No phone service            Yes    No
4     9237-HQITU  Female         No                No             No   Yes
...          ...     ...        ...               ...            ...   ...
7038  6840-RESVB    Male        Yes               Yes            Yes    No
7039  2234-XADUH  Female        Yes               Yes             No    No
7040  4801-JZAZL  Female        Yes  No phone service            Yes    No
7041  8361-LTMKD    Male         No               Yes             No   Yes
7042  3186-AJIEK    Male         No                No            Yes    No

[7043 rows x 6 columns]

In [106]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df2_tf_df['Churn'])
df2_tf_df['Churn_LE']=le.transform(df2_tf_df['Churn'])

In [107]:
df2_tf_df

,gender_F,gender_M,Dependents_N,Dependents_Y,MultipleLines,OnlineSecurity,customerID,Churn,Churn_LE
0,1.0,0.0,1.0,0.0,0.0,1.0,7590-VHVEG,No,0
1,0.0,1.0,1.0,0.0,1.0,2.0,5575-GNVDE,No,0
2,0.0,1.0,1.0,0.0,1.0,2.0,3668-QPYBK,Yes,1
3,0.0,1.0,1.0,0.0,0.0,2.0,7795-CFOCW,No,0
4,1.0,0.0,1.0,0.0,1.0,1.0,9237-HQITU,Yes,1
...,...,...,...,...,...,...,...,...,...
7038,0.0,1.0,0.0,1.0,2.0,2.0,6840-RESVB,No,0
7039,1.0,0.0,0.0,1.0,2.0,1.0,2234-XADUH,No,0
7040,1.0,0.0,0.0,1.0,0.0,2.0,4801-JZAZL,No,0
7041,0.0,1.0,1.0,0.0,2.0,1.0,8361-LTMKD,Yes,1
7042,0.0,1.0,1.0,0.0,1.0,2.0,3186-AJIEK,No,0

In [58]:
dfNew=pd.DataFrame(df2)
dfNew

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1.0,1.0,2.0,7590-VHVEG,Female,0,Yes,No,1,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0,0
1,2.0,2.0,1.0,5575-GNVDE,Male,0,No,No,34,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,No,0,0
2,2.0,1.0,2.0,3668-QPYBK,Male,0,No,No,2,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,1
3,2.0,2.0,1.0,7795-CFOCW,Male,0,No,No,45,No,...,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No,0,0
4,1.0,1.0,1.0,9237-HQITU,Female,0,No,No,2,Yes,...,No,No,Month-to-month,Yes,Electronic check,70.7,151.65,Yes,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2.0,2.0,1.0,6840-RESVB,Male,0,Yes,Yes,24,Yes,...,Yes,Yes,One year,Yes,Mailed check,84.8,1990.5,No,0,0
7039,1.0,2.0,2.0,2234-XADUH,Female,0,Yes,Yes,72,Yes,...,Yes,Yes,One year,Yes,Credit card (automatic),103.2,7362.9,No,0,0
7040,2.0,1.0,1.0,4801-JZAZL,Female,0,Yes,Yes,11,No,...,No,No,Month-to-month,Yes,Electronic check,29.6,346.45,No,0,0
7041,1.0,1.0,1.0,8361-LTMKD,Male,1,Yes,No,4,Yes,...,No,No,Month-to-month,Yes,Mailed check,74.4,306.6,Yes,1,1
7042,2.0,2.0,1.0,3186-AJIEK,Male,0,No,No,66,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,0

# make a pipeline with column transformer for finding the logistic regeression